@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ProcessedForm</title>
</head>
<body>
<h1>Thank you for completing the survey!</h1>
<button id="back" onclick="window.location='@Url.Action("Index", "Home")'">Go back to home page</button>
</body>
</html>

