<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<button id="interviewBtn" OnClick="window.location='Home/Survey'" style='margin-left:auto;margin-right:auto'>Get me to the interview</button>

