@model Main.SurveyResults

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Result Table</title>
</head>
<body>
<h1>Survey Results:</h1>
@foreach(var r in Model.Data) {
<div>@r</div>
}
<br/>
<button id="back" onclick="window.location='@Url.Action("Index")'">Go back</button>
</body>
</html>

