@model Main.SurveyData

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Result Table</title>
</head>
<body>
<h1>Survey Results:</h1>
<table cellpadding=5 cellspacing=5>
@foreach(var r in Model.Data) {
    <tr>
        <td>
            @r.answer
        </td>
    </tr>
}
</table>
<br/>
<button id="back" onclick="window.location='@Url.Action("Index")'">Go back</button>
</body>
</html>

