@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
</head>
<body>
    <h4>Question 1. What do you see on this picture?</h4>
    <img src='https://pmcvariety.files.wordpress.com/2014/10/my-little-pony-friendship-is-magic-my-little-pony-friendship-is-magic-32310685-1600-1000.jpg?w=670&h=377&crop=1'/>
    <br/>
    <br/>
    <form action='@Url.Action("ProcessForm")' method="post" >
        <input type="text" name="opinion"/>
        <button>Submit</button>
    </form>
</body>
</html>

